name: Data Update
on:
  push:
    branches: [main]
    paths: ['reviews/**/*.yml']
  pull_request:
    types: [opened, reopened]
    branches: [main]
    paths: ['reviews/**/*.yml']
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main Branch
        uses: actions/checkout@v6
        with: 
          ref: main
      - name: Validate Data
        run: python scripts/validate_data.py
  trigger:
    needs: validate
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Cloudflare Page Update Webhook
        run: curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/$CF_BUILD_TRIGGER"
        env:
          CF_BUILD_TRIGGER: ${{ secrets.CF_BUILD_TRIGGER }}
      - name: Print Message
        run: echo "Triggered the build." 
